@import 'header';
@import 'footer';
@import 'buttons';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
  margin: 0em;
  padding: 0em;
  font-family: 'Oxygen', sans-serif;
}

img{
  width: 100%;
  height: 100vh;
  position: absolute;
}

.centerdiv{
  position: relative;
  text-align: center;
}


h1{
  font-size: 6rem;
  color: #2c2c2c;
}

h2{
  word-spacing: 10px;
  letter-spacing: 5px;
}
h3{
  word-spacing: 7px;
  letter-spacing: 5px;
}

p {
  font-size: 16px;
  color:#2c2c2c;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: 
  linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(2, 167, 199, 0.73)),
  url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1773&q=80');
  height: 100vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: -85px;
  top: -65px;
    &__inner {
      padding:5em;
    }
    &__copy 
    p {
    padding: 1.5em 0 1.5em 0;
    line-height: 1.5em;
    font-size: 1.25rem;
    }
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    line-height: 1em;
    color: #2c2c2c;
  }
}


